body{
    background: url("../img/5197214\(2\).jpg"), lightgray 50% / cover no-repeat;
}

.text{
    position: relative;
    width: 683px;
    height: 358px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 200px;
    left: 100px;
}
    

.bouton{
    position: relative;
    width: 308px;
    height: 100px;
    flex-shrink: 0;
    background: #EF1D1D;
    mix-blend-mode: color-burn;
    top: 150px;
    left: 200px;
    
}

.go{
    width: 196px;
    height: 46px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    left: 45px;
}

.footer{
    position: relative;
    width: 1500px;
    height: 266px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 300px; ;
}

.contact{
    position: relative;
    width: 150px;
    height: 34px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 20px;
    left: 20px;
}

.mail{
    position: relative;
    width: 576px;
    height: 51px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 50px;
    left: 20px;
}

.instagram{
    position: relative;
    width: 66px;
    height: 66px;
    flex-shrink: 0;

    top: 70px;
    left: 20px;
}

.facebook{
    position: relative;
    width: 66px;
    height: 66px;
    flex-shrink: 0;

    top: 70px;
    left: 60px;
}

.twitter{
    position: relative;
    width: 66px;
    height: 66px;
    flex-shrink: 0;

    top: 70px;
    left: 100px;
}