body{
    background: url("../img/5197214\(2\).jpg");
}

.body{
    position: relative;
    width: 832px;
height: 200px;
flex-shrink: 0;
border-radius: 30px;
background: #AFAFAF;
left: 250px;
top: 250px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.texte{
    position: relative;
    left: 180px;
    top: 65px;
    width: 720px;
height: 120px;
flex-shrink: 0;
color: #FFF;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.image{
    position: relative;
    left: 650px;
    bottom: 70px;
    width: 86px;
height: 86px;
flex-shrink: 0;
}

