body{
    background: linear-gradient(90deg, #BDBCBC 0%, #FFF 45.13%, #FFF 50.23%, #C5C4C4 99.48%);

}

.filtre{
    position: relative;
    font-size: medium;
    width: 501px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 40px;
    opacity: 0.699999988079071;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    left: 400px;

}

.img{
    position: relative;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 0px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    right: 170px;
    top: 15px;
}



.nom{

    background-color: #D35555;
    position: relative;
    
    width: 310px;
    height: 32px;
    flex-shrink: 0;
    font-size: medium;
    stroke-width: 1px;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    

}

.adresse1{
    background-color: #D9D9D9;
    position: relative;
    width: 320px;
    height: 32px;
    flex-shrink: 0;
   font-size: medium;
    stroke-width: 1px;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    

}
.numero_telephone{
    background-color: #706B67;
    position: relative;
    width: 320px;
    height: 32px;
    flex-shrink: 0;
   font-size: medium;
    stroke-width: 1px;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    

}
.Statut{
    background-color: #FFF;
    position: relative;
    width: 290px;
    height: 32px;
    flex-shrink: 0;
   font-size: medium;
    stroke-width: 1px;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    

}

.trie{
    position: relative;
    top: 80px;
    
}

.liste{
    position: relative;
    width: 1000px;
height: 5638px;
flex-shrink: 0;
border-radius: 40px;
background: #FFF;
top: 100px;
left: 150px;
}

table
{
    position: relative;
    border: 2px solid ;
    left:30px;
    height: 200px;
    width: 950px;
    top: 20px;
    border-radius: 40px;
}
th{
    position: relative;
    left: 90px;
}
td{
    position:relative;
    right: 20px;
}





.modifier{
    position: relative;
    height: 30px;
    width: 30px;
    left: 20px;
   
}
    
.numero{
    position: relative;
    right: 40px;
}

.rapport{
    position: relative;
    height: 30px;
    width: 30px;
    left: 20px;
}

.supprimer{
    position: relative;
    height: 30px;
    width: 30px;
    right: 10px;
    left: 20px;


}

.ajouter{
    position: relative;
    width: 228px;
    font-size: medium;
height: 46px;
flex-shrink: 0;
border-radius: 40px;
background: rgba(102, 102, 102, 0.50);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-top: 50px;
margin-left:350px ;

}

.utilisateur{
    position: relative;
    height: 80px;
    width: 80px;
    left: 20px;
    
}
.statut1{
    position: relative;
    left: 50px;
}

.bouton{
    background-color: #c5c5c5;
    position: relative;
    width: 90px;
    height: 32px;
    flex-shrink: 0;
    font-size: medium;
    stroke-width: 1px;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    left: 370px;
    border-radius: 40px;
    

}

.effacer{
    background-color: #c5c5c5;
    position: relative;
    width: 90px;
    height: 32px;
    flex-shrink: 0;
    font-size: medium;
    stroke-width: 1px;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    left: 380px;
    border-radius: 40px

}

.deconnexion{
    background-color: #c5c5c5;
    position: relative;
    width: 120px;
    height: 32px;
    flex-shrink: 0;
    font-size: medium;
    stroke-width: 1px;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    right: 740px;
    border-radius: 40px

}

.sexe{
    position: relative;
    left: 30px;

}

.nom1{
    position: relative;
    left: 10px;


}

.adresse{
    position: relative;
    right: 50px;
}