body{
    background: linear-gradient(90deg, #BDBCBC 0%, #FFF 45.13%, #FFF 50.23%, #C5C4C4 99.48%);

}

.body{
    position: relative;
    width: 1000px;
height: 710px;
flex-shrink: 0;
border-radius: 40px;
background: #EFEFEF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
left: 150px;
top: 50px;
}

.user{
    width: 130px;
height: 130px;
flex-shrink: 0;
border: 1px solid #000;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
border-radius: 70px;
}

.user1{
    position: relative;
    width: 700px;
height: 42px;
flex-shrink: 0;
border-radius: 40px;
border: 1px solid #000;
background: #FEFEFE;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
left: 200px;
bottom: 100px;
}

th{
    position: relative;
    font-size: medium;
    bottom: 20px;
    
}
table{
    position: relative;
    bottom: 10px;
    left:100px;
    height: 50px;
    width: 500px;
  
    
}
.statut{
    position: relative;
    right: 50px;
}

.rapport{
    position: relative;
    width: 700px;
height: 250px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #000;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
left: 150px;
bottom: 50px;
font-size: large;
}



.bouton{
    position: relative;
    top: 60px;
    right: 300px;
    width: 150px;
height: 40px;
flex-shrink: 0;
border-radius: 40px;
background: #7C869F;
}

.footer{
    margin-top: 50px;
    width: 1440px;
height: 162px;
flex-shrink: 0;
opacity: 0.5;
background: #000;
}

.retour{
    position: relative;
    width: 50px;
    height: 50px;
    left: 930px;
    border:1px #000 solid;
    border-radius: 70px;
    bottom: 145px;
}

.nom1{
    position: relative;
    right:70px;
}

.sexe1{
    position: relative;
    right: 50px;
}

.numero1{
    position: relative;
    right: 50px;
}

.statut{
    position: relative;
   
}

.email1{
    position: relative;
    right: 20px;
}